<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IBasicMath" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/MathService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IBasicMath" contract="MathServiceClient.IBasicMath"
                name="WSHttpBinding_IBasicMath">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-3HII3SU" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>